body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 300;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

svg {
	width: 100%;
}

polyline {
	stroke: teal;
	stroke-width: 3px;
	stroke-linejoin: round;
	fill: none;
}

text {
	font-size: 12px;
	fill: #999;
}

.month-label {
	text-anchor: middle;
}

.grid-line {
	stroke: #999;
	stroke-width: 1px;
}

.grid-label {
	alignment-baseline: middle;
	text-anchor: start;
}
