body {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 300;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.container {
	padding: 0.5em;
	padding-left: 4em;
	border-bottom: 1px solid #eee;
}

.label {
	position: absolute;
	left: 0.5em;
	text-align: right;
}

.small.label {
	width: 3em;
}

.big.label {
	width: 6em;
	display: none;
}

.bar {
	position: relative;
	height: 1.2em;
	background-color: teal;
}

.bar::after {
	content: attr(data-temp);
	position: absolute;
	top: 0.2em;
	right: 0.2em;
	color: white;
	font-size: 0.8em;
}

/* these styles will apply to larger screens */
@media (min-width: 480px) {
	.container {
		padding-left: 7em;
	}

	.small.label {
		display: none;
	}

	.big.label {
		display: block;
	}
}
